<div class="col-xs-12">


<section class="content">
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Registro de Clientes</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Tipo Documento</th>
                  <th>Numero Documento</th>
                  <th>Direccion</th>
                  <th>Telefono</th>
                  <th>Email</th>
                  <th></th>
                  <th></th>
                </tr>
                <% @clients.each do |cliente| %>
                <tr>

                  <td><%= cliente.persona.id %></td>
                  <td><%= cliente.persona.nombre %></td>
                  <td><%= cliente.persona.apellido %></td>
                  <td><%= cliente.persona.tipo_documento %></td>
                  <td><%= cliente.persona.numero_documento %></td>
                  <td><%= cliente.persona.direccion%></td>
                  <td><%= cliente.persona.telefono%></td>
                  <td><%= cliente.persona.email%></td>
                  <td>
                    <div class="pull-right box-tools">
                      <%= link_to  edit_admin_cliente_path(cliente), class: "btn btn-warning btn-sm" do %>

                          <i class="fa fa-edit"></i>
                          <% end %>
                    </div>
                  </td>
                  <td>
                    <div class="pull-right box-tools">
                      <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                        <i class="fa fa-times"></i></button>
                    </div>
                  </td>
                </tr>
                <% end %>

              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

</section>
